<h2>Historique des connexions</h2>
<div class="table-wrapper">
    <table class="connections-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Heure</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2024-01-01</td>
                <td>10:00</td>
            </tr>
            <tr>
                <td>2024-01-02</td>
                <td>14:30</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <tr>
                <td>2024-01-03</td>
                <td>09:15</td>
            </tr>
            <!-- Autres lignes de connexion -->
        </tbody>
    </table>
</div>