<div class="add-article-container">
    <h1>Ajouter un Article</h1>
    
    <form (ngSubmit)="onSubmit()" [formGroup]="articleForm">
      <div class="form-group">
        <label for="title">Titre de l'Article</label>
        <input 
          type="text" 
          id="title" 
          name="title" 
          formControlName="title"
          class="form-control" 
          required
        />
        <div *ngIf="articleForm.get('title')!.invalid && articleForm.get('title')!.touched" class="error-message">
          Le titre est requis.
        </div>
      </div>
      
      <div class="form-group">
        <label for="content">Contenu de l'Article</label>
        <textarea 
          id="content" 
          name="content" 
          formControlName="content" 
          class="form-control" 
          required></textarea>
        <div *ngIf="articleForm.get('content')!.invalid && articleForm.get('content')!.touched" class="error-message">
          Le contenu est requis.
        </div>
      </div>
  
      <div class="form-group">
        <label for="tags">Tags (séparez les tags par des virgules)</label>
        <input 
          type="text" 
          id="tags" 
          name="tags" 
          formControlName="tags" 
          class="form-control" 
          required
        />
        <div *ngIf="articleForm.get('tags')!.invalid && articleForm.get('tags')!.touched" class="error-message">
          Les tags sont requis.
        </div>
      </div>
      
      <button type="submit" [disabled]="articleForm.invalid" class="btn-submit">
        Ajouter l'Article
      </button>
    </form>
  </div>
  