<div class="home-page">
    <!-- Section d'accueil -->
    <section class="hero">
      <div class="hero-content">
        <h1>Bienvenue sur Mon Application</h1>
        <p>Découvrez nos services et profitez de l'expérience unique que nous vous offrons.</p>
        <a href="/services" class="cta-btn">Explorer nos services</a>
      </div>
    </section>

    <section class="routes-list">
      <h2>Liste des Routes</h2>
      <ul>
        <li><a routerLink="/home">Accueil</a></li>
        <li><a routerLink="/error">Page d'erreur</a></li>
        <li><a routerLink="/login">Connexion</a></li>
        <li><a routerLink="/signup">Inscription</a></li>
        <li><a routerLink="/articles">Articles</a></li>
        <li><a routerLink="/new-article">Ajouter un article</a></li>
        <li><a routerLink="/article/1">View an article</a></li>
        <li><a routerLink="/user-profile/GreenQueen">User Profile</a></li>
        <li><a routerLink="/profile">Profil</a></li>
      </ul>
    </section>
  </div>