<h2>Navigation des Pages</h2>
<ul>
    <a routerLink="/home"><li>Accueil</li></a>
    <a routerLink="/error"><li>Page d'erreur</li></a>
    <a routerLink="/login"><li>Connexion</li></a>
    <a routerLink="/signup"><li>Inscription</li></a>
    <a routerLink="/articles"><li>Articles</li></a>
    <a routerLink="/new-article"><li>Ajouter un article</li></a>
    <a routerLink="/article/1"><li>View an article</li></a>
    <a routerLink="/user-profile/GreenQueen"><li>User's articles</li></a>
    <a routerLink="/profile"><li>Profil</li></a>
    <a routerLink="/notes"><li>Notes</li></a>
</ul>