<h2>Paramètres de notifications</h2>

<form *ngIf="settingsForm" [formGroup]="settingsForm" (ngSubmit)="onSubmit()" class="account-settings-form">
    <label>
        Notifications par email
        <input type="checkbox" formControlName="emailNotifications"> 
    </label>
    <label>
        Notifications par SMS 
        <input type="checkbox" formControlName="smsNotifications"> 
    </label>
    <label>
        Langue de traduction :
        <select formControlName="translationLanguage" required>
            <option *ngFor="let language of availableLanguages" [value]="language.value">
                {{ language.label }}
            </option>
        </select>
    </label>
    <button type="submit" [disabled]="settingsForm.invalid" appButtonStyle>sauvegarder</button>
</form>