<div class="profil-page" *ngIf="isLoggedIn">
    <h1 class="page-title">Votre profil</h1>
    <div class="profile-container">
        <!-- Informations personnelles -->
        <section class="profile-card">
            <app-profile-info [user] = user></app-profile-info>
        </section>
        <!-- Tableau des connexions utilisateur -->
        <section class="connections-section">
            <app-connection-history></app-connection-history>
        </section>
        <!-- Paramètres de compte : notifications -->
        <section class="account-settings-section">
            <app-account-settings (settingsUpdated)="onSettingsUpdated($event)" [user] = user></app-account-settings>
        </section>
        <!-- visionner les actions de l'utilisateur (articles, commentaires ou likes) -->
        <section class="navigation-list small-cards">
            <app-router-list></app-router-list>
        </section>
    </div>
    <div class="page-title logout" >
        <button (click)="logOut()" appButtonStyle>Déconnecter</button>
    </div>
</div>

<div *ngIf="!isLoggedIn">
    <h1>Vous nous vous êtes pas connecté : <a href="/login">me connecter</a></h1>
</div>