<div class="articles-page">
    <h1>Tous les Articles</h1>

    <div class="button-container">
      <button (click)="translate()">Traduire tous les articles</button>
    </div>
    
    <div class="article-card" *ngFor="let article of articles">
      <div class="article-header">
        <h2 class="article-title">{{ article.title }}</h2>
        <span class="article-author" [routerLink]="['/user-profile', article.author]">Par {{ article.author }}</span>
        <span class="article-date">{{ article.created_at | date:'dd/MM/yyyy' }}</span>
      </div>
  
      <p class="article-content">{{ article.content | truncate }}</p>
      
      <div class="article-footer">
        <div class="tags">
          <span class="tag" *ngFor="let tag of article.tags">{{ tag }}</span>
        </div>
        <div class="likes-comments">
          <span class="likes">{{ article.likes }} Likes</span>
          <span class="comments">{{ article.comments.length }} Commentaires</span>
        </div>
      </div>

      <div class="button-container-view-more">
        <button [routerLink]="['/article', article.id]" appButtonStyle>Voir en détails</button>
      </div>
      
      <app-article-comment [comments]=article.comments></app-article-comment>
    </div>
  </div>
  